
html, body, h1 {
    font-family: 'Farro', sans-serif;
    padding: 0;
    margin:0;
    height: 100%;
}

body {
    display:flex;
    justify-content: stretch;
    align-items: stretch;
}

.main {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background-color: var(--color-primary);
    transition: background-color 0.5s;
    min-height: 100%;
}

header {
    display: flex;
    align-self: center;
    font-size: 6vw;
    border-bottom: 1px solid var(--color-border);
    transition: border-bottom 0.5s;
    margin-top: 32px;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 1000px){
    
}
.box {
    border-radius: 6px;
    background-color: var(--color-secondary);
    transition: background-color 0.5s;
    margin-left:20px;
}

.box-timer {
    margin: 20px;
    justify-self: center;
}

.flex-column {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timer{
    font-size: 15vmax;
    min-width: 50vmax;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

button {
    background-color: white;
    border: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    border-radius: 6px;
    color: var(--color-secondary);
    transition: color 0.5s;
    padding: 0px 25px 0px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.small-button {
    background-color: transparent;
    border: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(32px, 2vw);
    border-radius: 6px;
    /*color: rgb(233, 100, 95);*/
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.small-button-selected, .small-button:hover{
    background-color: var(--color-border);
}
.theme-pomodoro{
    --color-primary: rgb(219, 82, 77);
    --color-secondary: rgb(233, 100, 95);
    --color-border: rgb(195, 82, 77);
}

.theme-short-break{
    --color-primary: rgb(70, 142, 145);
    --color-secondary: rgb(89, 154, 156);
    --color-border: rgb(43, 85, 85);;
}

.theme-long-break{
    --color-primary: rgb(67, 126, 168);
    --color-secondary: rgb(86, 139, 177);
    --color-border: rgb(73, 118, 151);;
}